// Colors
$color-brownie: #484848;
$color-black: #17232c;
$color-cornflowerblue: #6495ed;
$color-light-blue: #f3f9fc;
$color-thin-blue: #f3f9fc;
$color-light-red: #fdf7f9;
$color-dark-blue: #1f4965;
$color-facebook-blue: #3b5998;
$color-red-gray: #c6c3c3;
$color-gray-chateau: #9da2ab;
$color-gray: #707070;
$color-thin-grey: #f2f2f2;
$color-white: #ffffff;
$color-label-blue: #1497ea;
$color-navy-blue: #1582c8;
$color-alice-blue: #e3f6fc;
$color-pattens-blue: #dee2e6;
$color-light-cyan: #e3f6fc;
$color-black-grey: #343a40;
$color-storm-grey: #7c7d81;
$color-cotton-seed: #437fec;
$color-sky-blue: #3eb3dc;
$color-orange-thin: #fff9f0;
$color-porcelain: #e8e9ea;
$color-sea-buckthorn: #3eb3dc;
$color-alice-blue-thin: #e8f2f9;
$color-lavender-blush: #fcf1f5;
$color-whisper: #e6e6e6;
$color-torch-red: #ff1e32;
$color-light-slate-grey: #828894;
$color-snow: #fcfcfc;
$color-nepal: #a2afb8;
$color-silver-foil: #a8acb4;
$color-blueberry: #0d83c9;
$color-blue-medium: #e7f2fa;
$color-mischka: #a9b0b9;
$color-cancel: #cdcdcd;
$color-white-red: #fbfbfb;
$color-medium-grey: #c9c9c9;
$color-lato-black: #666666;
$color-raven: #6e7581;
$color-blue-medium: #e7f2fa;
$color-grayish-blue: #b3b6bd;
$color-thin-grey: #f2f2f2;
$color-dark-grey: #ababab;
$color-thin-ash: #e6e9ee;
$color-thick-grey: #b3b3b3;
$color-light-purple: #6f42c1;

$color-mandy: #d84e59;

$color-cinnabar: #e94c23;
$color-light-orange: #f77b55;
$color-grey2: #808080;

$color-cloud-burst: #374152;
$color-dark-cerulean: #0b4b7d;
$color-grey-chateau: #979ca6;
$color-solitude: #f1f2f4;
$color-azure: #f3f4f4;
$color-link-water: #cad0d5;
$color-nepal: #a0abb4;
$color-blue-zodiac: #3a4354;
$color-dark-gray: #a9a9a9;
$color-light-gray: #e8e8e8;
$color-light-zodiac: #a0a4ab;
$color-dark-violet: #545cd8;
$color-grey-light: #eef1f6;
$color-pink-swan: #b8b8b8;
$color-cloud-burst2: #3b414d;
$color-heather:#bbbdbe;
$color-grey-thin:#e9e9e9;
$color-green-water:#00be4b;
$color-yellow-thin:#ffa000;
$color-blue-thin:#2691ec;
$color-blue-grey:#516575;
$color-mischka2: #a5aab0;
$color-light-green: #13c964;
$color-border-thin: #a9a9a980;
$color-transparent: #00000000;
$color-label-danger: #dc3545;

// Theme
$theme-primary: var(--theme-primary, $color-cloud-burst);
$theme-secondary: var(--theme-secondary, $color-dark-cerulean);

// Z Index
$z-index-100: 100;
$z-index-10: 10;

// Fonts
$font-sizes: (
  smaller-5: 0.5em,
  smaller-4: 0.6em,
  smaller-3: 0.7em,
  smaller-2: 0.8em,
  smaller-1: 0.9em,
  bigger-1: 1.2em,
  bigger-2: 1.4em,
  bigger-3: 1.6em,
  bigger-4: 1.8em,
  bigger-5: 2em,
);

$body-color: $color-cloud-burst;

$font-size-base: 0.875rem !default;
$base-font-weight: 600;

$headings-font-weight: 800 !default;
$headings-font-color: $color-blue-zodiac !default;
$h1-font-size: $font-size-base * 2.75 !default;
$h2-font-size: $font-size-base * 2.25 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
